* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    background-color: #121212;
    background-image: url('images/image.avif');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    line-height: 1.6;
    font-size: 16px;
    animation: fadeIn 1.5s ease-in-out;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: rgba(2, 0, 0, 0.8);
    color: #f7f6f4;
    padding: 20px;
    text-align: center;
    position: relative;
}

.logo {
    width: 100px;
    position: absolute;
    top: 15px;
    left: 30px;
}

h1 {
    margin-top: 50px;
}

nav {
    background: #0c0000;
    padding: 20px 0;
    text-align: center;
    text-shadow: #e0e0e0;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin: 0 25px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease-in;
    padding: 10px 20px;
    border-radius: 8px;
}

nav ul li a:hover {
    color: #ff9800;
    background-color: #333;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

section {
    padding: 20px 0;
    text-align: center;
    margin-bottom: 80px;
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
}

.fade-in {
    opacity: 0;
    animation: fadeInUp 1s ease-in-out forwards;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

h2 {
    color: #ff9800;
    margin-bottom: 20px;
}

/* Card container for side by side cards */
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 30px;
}

/* Card Style */
.card {
    background: #0e0e0e;
    border-radius: 8px;
    padding: 20px;
    width: 30%;
    min-width: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
    color: rgb(5, 123, 147);
}

.card p, .card li {
    color: #e0e0e0;
    margin: 10px 0;
}

footer {
    background: #1a1a1a;
    color: #ff9800;
    text-align: center;
    padding: 20px 0;
}

footer p {
    margin: 0;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
